<h2><%= t :materials %></h2>

<table>
  <tr>
    <th><%= t 'activerecord.attributes.cast.name' %></th>
    <th></th>
    <th></th>
  </tr>

  <% if @cast %>
      <% @cast.materials.each do |material| %>
          <tr>
            <td><%= link_to material.name, admin_cast_material_path(@cast, material) %></td>
            <td><%= link_to (t :edit), edit_admin_cast_material_path(@cast, material) %></td>
            <td><%= link_to (t :destroy), admin_cast_material_path(@cast, material), method: :delete,
                            data: {confirm: (t 'activerecord.attributes.article.confirm', count: material.articles.count)} %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<br/>

<%= link_to (t 'activerecord.attributes.material.new'), new_admin_cast_material_path(@cast) %>
