<% Category.all.each do |category| %>
    <h2><%= category.name %></h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= t 'activerecord.attributes.menu.name' %></th>
        <th><%= t 'activerecord.attributes.menu.picture' %></th>
        <th><%= t :ingredients %></th>
        <th><%= t 'activerecord.attributes.menu.weight' %></th>
        <th><%= t 'activerecord.attributes.menu.price' %></th>
      </tr>
      </thead>

      <tbody>
      <% Menu.where(:category_id => category.id).each do |menu| %>
          <tr>
            <td width="200px"><%= menu.name %></td>
            <td>
              <% if menu.picture.present? %>
                  <%= image_tag menu.picture, :class => "img-rounded", :width => "300px" %>
              <% end %>
            </td>
            <td>
              <%= render :partial => 'layouts/ingredient', :locale => {:menu => @menu = menu} %>
            </td>
            <td><%= menu.weight %></td>
            <td><%= menu.price %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
