<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'activerecord.attributes.menu.name' %>:</b>
  <%= @menu.name %>
</p>

<p>
  <b><%= t 'activerecord.attributes.menu.picture' %>:</b>
  <% if @menu.picture.present? %>
      <%= image_tag @menu.picture, :class => "img-rounded", :width => "100%" %>
  <% end %>
</p>

<p>
  <b><%= t 'activerecord.attributes.menu.category_id' %>:</b>
  <%= Category.find(@menu.category_id).name %>
</p>

<p>
  <b><%= t 'activerecord.attributes.menu.weight' %>:</b>
  <%= @menu.weight %>
</p>

<p>
  <b><%= t 'activerecord.attributes.menu.price' %>:</b>
  <%= @menu.price %>
</p>

<% if can? :manage, Menu %>
    <%= link_to (t :edit), edit_menu_path(@menu) %> |
<% end %>
<%= link_to (t :back), menus_path %>
