<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @poster.url %>
</p>

<p>
  <b>Title:</b>
  <%= @poster.title %>
</p>

<p>
  <b>Context:</b>
  <%= @poster.context %>
</p>

<p>
  <b>Approximate date:</b>
  <%= @poster.approximate_date %>
</p>


<%= link_to 'Edit', edit_poster_path(@poster) %> |
<%= link_to 'Back', posters_path %>
