<p>
  <b><%= Poster.human_attribute_name(:url)%>:</b>
  <%= @poster.url %>
</p>

<p>
  <b><%= Poster.human_attribute_name(:title)%>:</b>
  <%= @poster.title %>
</p>

<p>
  <b><%= Poster.human_attribute_name(:context)%>:</b>
  <%= @poster.context %>
</p>

<p>
  <b><%= Poster.human_attribute_name(:approximate_date)%>:</b>
  <%= @poster.approximate_date %>
</p>


<%= link_to "#{t :edit}", edit_poster_path(@poster) %> |
<%= link_to "#{t :back}", posters_path %>
