<div class="well">
  <h2><%= article.name %></h2>
  <p><%= article.desc %></p>
  <% if article.picture.present? %>
      <% cache ("article_image##{article.id}") do %>
          <%= image_tag article.picture, :class => "img-rounded", :width => "100%" %>
      <% end %>
  <% end %>
  <br/><br/>

  <% if can? :manage, :Article %>
      <%= link_to (t :edit), edit_admin_cast_material_article_path(article.cast, article.material, article), :class => "btn-small" %>
      <%= link_to (t :destroy), admin_cast_material_article_path(article.cast, article.material, article), method: :delete, data: {confirm: (t :confirmation)}, :class => "btn-small" %>
  <% end %>
</div>
