<%= form_for(@arrival) do |f| %>

    <div class="field">
      <%= f.label :product_id %>
      <br/>
      <%= f.select :product_id, options_from_collection_for_select(Product.all, "id", "name"), :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :incoming_price %>
      <br/>
      <%= f.text_field :incoming_price %>
    </div>
    <div class="field">
      <%= f.label :sale_price %>
      <br/>
      <%= f.text_field :sale_price %>
    </div>
    <div class="field">
      <%= f.label :count %>
      <br/>
      <%= f.text_field :count %>
    </div>
    <div class="field">
      <%= f.label :receiver_id %>
      <br/>
      <%= f.select :receiver_id, options_from_collection_for_select(User.find(:all,
                                                                              :joins => "JOIN users_roles ON users_roles.user_id = users.id
                                                                          JOIN roles ON roles.name in ('employee', 'admin') AND roles.id = users_roles.role_id",
                                                                              :select => "users.*"), "id", "email", current_user.id), :include_blank => true %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
