<% if can? :create, Arrival %>
    <%= link_to (t 'activerecord.attributes.arrival.new'), new_arrival_path, class: 'btn btn-inverse' %>
<% end %>
<% if can? :manage, Arrival %>
    <%= link_to (t 'activerecord.attributes.arrival.report'), "arrivals/download", :class => 'btn btn-primary' %>
<% end %>

<br/><br/>

<h1><%= t :arrivals %></h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t 'activerecord.attributes.arrival.product_id' %></th>
    <th><%= t 'activerecord.attributes.arrival.incoming_price' %></th>
    <th><%= t 'activerecord.attributes.arrival.sale_price' %></th>
    <th><%= t 'activerecord.attributes.arrival.count' %></th>
    <th><%= t 'activerecord.attributes.arrival.receiver_id' %></th>
    <th><%= t :created_at %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @arrivals.each do |arrival| %>
      <tr>
        <td><%= Product.find(arrival.product_id).name %></td>
        <td><%= arrival.incoming_price %></td>
        <td><%= arrival.sale_price %></td>
        <td><%= arrival.count %></td>
        <td><%= User.find(arrival.receiver_id).info %></td>
        <td><%= I18n.localize(arrival.created_at, :format => :long) %></td>
        <td><%= link_to (t :show), arrival, class: 'btn btn-mini' %></td>
      </tr>
  <% end %>
  </tbody>
</table>