<% if can? :create, Arrival %>
    <%= link_to (t 'activerecord.attributes.arrival.new'), new_arrival_path, class: 'btn btn-inverse' %>
    <%= link_to (t 'activerecord.attributes.arrival.report'), "arrivals/download", :class => 'btn btn-primary' %>
<% end %>

<br/><br/>

<h1><%= t :arrivals %></h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t 'activerecord.attributes.arrival.product_id' %></th>
    <th><%= t 'activerecord.attributes.arrival.incoming_price' %></th>
    <th><%= t 'activerecord.attributes.arrival.sale_price' %></th>
    <th><%= t 'activerecord.attributes.arrival.count' %></th>
    <th><%= t 'activerecord.attributes.arrival.receiver_id' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @arrivals.each do |arrival| %>
      <tr>
        <td><%= Product.find(arrival.product_id).name %></td>
        <td><%= arrival.incoming_price %></td>
        <td><%= arrival.sale_price %></td>
        <td><%= arrival.count %></td>
        <% user = User.find(arrival.receiver_id) %>
        <td><%= "#{user.last_name} #{user.name} #{user.middle_name}" %></td>
        <td><%= link_to 'Show', arrival %></td>
      </tr>
  <% end %>
  </tbody>
</table>