<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'activerecord.attributes.ingredient.product_id' %>:</b>
  <%= @ingredient.product_id %>
</p>

<p>
  <b><%= t 'activerecord.attributes.ingredient.menu_id' %>:</b>
  <%= @ingredient.menu_id %>
</p>

<p>
  <b><%= t 'activerecord.attributes.ingredient.amount' %>:</b>
  <%= @ingredient.amount %>
</p>


<% if can? :manage, Ingredient %>
    <%= link_to (t :edit), edit_ingredient_path(@ingredient) %> |
<% end %>
<%= link_to (t :back), ingredients_path %>
