<h2><%= t :sign_in %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset>
      <%= f.label :email %>
      <div class="input-prepend">
        <span class="add-on">@</span>
        <%= f.email_field :email, :class => "span2" %>
      </div>

      <%= f.label :password %>
      <div class="input-prepend">
        <span class="add-on">*</span>
        <%= f.password_field :password, :autocomplete => "off", :class => "span2" %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>
    </fieldset>

    <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>
