<div class="well">
  <p class="lead"><u><%= @photo.title %></u></p>
  <%= image_tag @photo.url, :class => "img-rounded", :width => "100%" %>
  <br/><br/>

  <% if @photo.description? %>
      <div class="accordion" id="photo-<%= @photo.id %>">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#photo-<%= @photo.id %>" href="#collapse-photo-<%= @photo.id %>">
              <%= @photo.description[0, 60].concat '...' %>
            </a>
          </div>
          <div id="collapse-photo-<%= @photo.id %>" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
              <p>
                <small><%= @photo.description %></small>
              </p>
            </div>
          </div>
        </div>
      </div>
  <% end %>

  <% if can? :manage, :all %>
      <%= link_to (t :edit), edit_photo_path(@photo), :class => "btn-small" %>
      <%= link_to (t :destroy), @photo, method: :delete, data: {confirm: (t :confirmation)}, :class => "btn-small" %>
  <% end %>
</div>
