<h1><%= t :categories %></h1>

<table class="table">
  <tr>
    <th><%= t 'activerecord.attributes.category.name' %></th>
    <th></th>
    <% if can? :manage, Category %>
        <th></th>
        <th></th>
    <% end %>
  </tr>

  <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to (t :show), category, class: 'btn btn-mini' %></td>
        <% if can? :manage, Category %>
            <td><%= link_to (t :edit), edit_category_path(category), class: 'btn btn-mini btn-warning' %></td>
            <td><%= button_to (t :destroy), category, method: :delete, confirm: 'Are you sure?', class: 'btn btn-mini btn-danger' %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>

<% if can? :manage, Category %>
    <%= link_to (t 'activerecord.attributes.category.new'), new_category_path, class: 'btn btn-inverse' %>
<% end %>
