<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'activerecord.attributes.category.name' %>:</b>
  <%= @category.name %>
</p>

<% if can? :manage, Category %>
    <%= link_to (t :edit), edit_category_path(@category) %> |
<% end %>
<%= link_to (t :back), categories_path %>
