<%= form_for(@table_reservation) do |f| %>
  <% if @table_reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table_reservation.errors.count, "error") %> prohibited this table_reservation from being saved:</h2>

      <ul>
      <% @table_reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time_from %><br />
    <%= f.time_select :time_from %>
  </div>
  <div class="field">
    <%= f.label :time_to %><br />
    <%= f.time_select :time_to %>
  </div>
  <div class="field">
    <%= f.label :hall %><br />
    <%= f.number_field :hall %>
  </div>
  <div class="field">
    <%= f.label :table %><br />
    <%= f.number_field :table %>
  </div>
  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :user_phone %><br />
    <%= f.text_field :user_phone %>
  </div>
  <div class="field">
    <%= f.label :people_number %><br />
    <%= f.number_field :people_number %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.collection_select :status, statuses, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
