<%= form_for(@sale) do |f| %>
    <% if @sale.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

          <ul>
            <% @sale.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :menu_id %>
      <br/>
      <%= f.select :menu_id, options_from_collection_for_select(Menu.all, "id", "name", @sale.menu_id), :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :price %>
      <br/>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :seller_id %>
      <br/>
      <%= f.select :seller_id, options_from_collection_for_select(User.find(:all,
                                                                          :joins => "JOIN users_roles ON users_roles.user_id = users.id
                                                                          JOIN roles ON roles.name = 'employee' AND roles.id = users_roles.role_id",
                                                                          :select => "users.*"), "id", "email", @sale.seller_id), :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :client_name %>
      <br/>
      <%= f.text_field :client_name %>
    </div>
    <div class="field">
      <%= f.label :datetime %>
      <br/>
      <%= f.datetime_select :datetime %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
