<h1><%= t :sales %></h1>

<table class="table">
  <thead>
  <tr>
    <th><%= t 'activerecord.attributes.sale.menu_id' %></th>
    <th><%= t 'activerecord.attributes.sale.price' %></th>
    <th><%= t 'activerecord.attributes.sale.date' %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sales.each do |sale| %>
      <tr>
        <td><%= Menu.find(sale.menu_id).name %></td>
        <td><%= sale.price %></td>
        <td><%= sale.date %></td>
        <td><%= link_to (t :show), sale %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to (t 'activerecord.attributes.sale.new'), new_sale_path %>
