<h1><%= t :sales %></h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t 'activerecord.attributes.sale.menu_id' %></th>
    <th><%= t 'activerecord.attributes.sale.count' %></th>
    <th><%= t 'activerecord.attributes.sale.price' %></th>
    <th><%= t 'activerecord.attributes.sale.seller_id' %></th>
    <th><%= t 'activerecord.attributes.sale.client_name' %></th>
    <th><%= t 'activerecord.attributes.sale.datetime' %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sales.each do |sale| %>
      <tr>
        <td><%= Menu.find(sale.menu_id)? Menu.find(sale.menu_id).name : sale.menu_id %></td>
        <td><%= sale.count %></td>
        <td><%= sale.price %></td>
        <td><%= User.find(sale.seller_id).email %></td>
        <td><%= sale.client_name %></td>
        <td><%= sale.datetime %></td>
        <td><%= link_to (t :show), sale, class: 'btn btn-mini' %></td>
        <% if can? :manage, Sale %>
            <td><%= link_to (t :edit), edit_sale_path(sale), class: 'btn btn-mini btn-warning' %></td>
            <td><%= button_to (t :destroy), sale, method: :delete, confirm: 'Are you sure?', class: 'btn btn-mini btn-danger' %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<% if can? :create, Sale %>
    <%= link_to (t 'activerecord.attributes.sale.new'), new_sale_path, class: 'btn btn-inverse' %>
    <%= link_to (t :get_sales_as_file), "sales/download", :class => 'btn btn-primary' %>
<% end %>