<% if can? :create, Sale %>
    <%= link_to (t 'activerecord.attributes.sale.new'), new_sale_path, class: 'btn btn-inverse' %>
    <%= link_to (t 'activerecord.attributes.sale.report'), "sales/download", :class => 'btn btn-primary' %>
<% end %>

<br/><br/>

<h1><%= t :sales %></h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t 'activerecord.attributes.sale.menu_id' %></th>
    <th><%= t 'activerecord.attributes.sale.count' %></th>
    <th><%= t 'activerecord.attributes.sale.price' %></th>
    <th><%= t 'activerecord.attributes.sale.seller_id' %></th>
    <th><%= t 'activerecord.attributes.sale.client_name' %></th>
    <th><%= t 'activerecord.attributes.sale.datetime' %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sales.each do |sale| %>
      <tr>
        <td><%= Menu.find(sale.menu_id)? Menu.find(sale.menu_id).name : sale.menu_id %></td>
        <td><%= sale.count %></td>
        <td><%= sale.price %></td>
        <% user = User.find(sale.seller_id) %>
        <td><%= "#{user.last_name} #{user.name} #{user.middle_name}" %></td>
        <td><%= sale.client_name %></td>
        <td><%=  I18n.localize(sale.datetime, :format => :long) %></td>
        <td><%= link_to (t :show), sale, class: 'btn btn-mini' %></td>
        <% if can? :manage, Sale %>
            <td><%= button_to (t :destroy), sale, method: :delete, confirm: 'Are you sure?', class: 'btn btn-mini btn-danger' %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
