<p>
  <b><%= t 'activerecord.attributes.sale.menu_id' %>:</b>
  <%= Menu.find(@sale.menu_id).name %>
</p>

<p>
  <b><%= t 'activerecord.attributes.sale.price' %>:</b>
  <%= @sale.price %>
</p>

<p>
  <b><%= t 'activerecord.attributes.sale.datetime' %>:</b>
  <%= @sale.datetime %>
</p>

<% if can? :manage, Sale %>
    <%= link_to (t :edit), edit_sale_path(@sale) %> |
<% end %>
<%= link_to (t :back), sales_path %>
