<ul class="dropdown-menu menu">
  <% if can? :manage, User %>
      <li><%= link_to (t :users), users_path %></li>
  <% end %>
  <% if can? :create, Poster %>
      <li><%= link_to (t :posters), posters_path %></li>
  <% end %>
  <% if can? :create, Slide %>
      <li><%= link_to (t :slides), slides_path %></li>
  <% end %>
  <% if can? :create, Menu %>
      <li><%= link_to (t :menus), '/menus/table' %></li>
  <% end %>
  <% if can? :create, Article %>
      <li><%= link_to (t :casts), admin_casts_path %></li>
  <% end %>
</ul>