<div id="navbar-top" class="navbar navbar-inverse navbar-fixed-top top-title">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><%= t :title %></a>

      <div class="nav-collapse collapse">
        <ul class="nav nav-pills pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <%= t :language %>
              <span class="caret"></span>
            </a>
            <%= render 'layouts/language' %>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <% if user_signed_in? %>
                  <%= current_user.email %>
              <% else %>
                  <%= t :username %>
              <% end %>
              <span class="caret"></span>
            </a>
            <%= render 'shared/links' %>
          </li>
        </ul>
        <ul class="nav menu">
          <li class="active"><a href="/home"><%= t :home %></a></li>
          <li><a href="/about"><%= t :about %></a></li>
          <li><a href="/contact"><%= t :contact %></a></li>
          <li><%= link_to (t :menus), menus_path %></li>
          <% if current_user && (current_user.has_role?(:employee) || current_user.has_role?(:admin)) %>
              <li class="dropdown" id="manage">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  <%= t :managing %>
                  <span class="caret"></span>
                </a>
                <%= render 'layouts/managing' %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>