<!DOCTYPE html>
<html>
<head>
  <title><%= t :title %></title>
  <link rel="SHORTCUT ICON" href="#">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<div class="container">
  <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>

  <%= yield %>

  <hr/>

  <footer>
    <%= yield :scripts %>
    <%= render :partial => 'layouts/footer' %>
  </footer>
</div>

</body>
</html>
